* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;

}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw
}