@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: Quicksand;
  background-color: hsl(246, 78%, 6%);
  color: #FDF6FF
}

h1 {
  color: #cdc2e2;
  font-size: 2.7em;
}

h2 {
  font-size: 2.2em;
}

p {
  width: 90%;
  padding: .6em;
  font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}