@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: Quicksand;
  background-color: #041C32;
  color: #FDF6FF
}

h1 {
  color: #cdc2e2;
  font-size: clamp(2.2rem, 0.7153rem + 1.6368vw, 2.5rem);
}

h2 {
  font-size: clamp(1.4rem, 0.7153rem + 1.6368vw, 1.8rem);

}

p {
  width: 90%;
  padding: .6em;
  font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}